<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Convolution Reverb (AU).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Convolution Reverb (AUv3 AppExtension).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Convolution Reverb (AUv3 Standalone).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Convolution Reverb (All).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Convolution Reverb (Shared Code).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Convolution Reverb (VST).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Convolution Reverb (VST3).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5967BFB291CD1D04CBD24FE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F44BF6DAD7CE5F2A929DA50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81E3230E607E09B4310CF1A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E184AD1B611A8B12349A947</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC230F5AB5E6F95342AE1BCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C416DD169ACCF163F3251414</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F68E87BF0E0C4895E63034EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
